image_rotations_r.json
image_rotations_e.json
image_rotations.json
image_rotations_HE.json
\data
image_matches.json
multistain_overview.png
/BEP_venv
\external
\checkpoints
\results
\plots
/main/__pycache__
requirements.txt
\old
main/config.py
\side
\predictions